<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/MyStyleSheet.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm ">
        <div class="container">
            @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand d-md-none" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav mx-auto ">
                    <li>@Html.ActionLink("تصفح الأقمشة", "Products", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("تواصل معنا", "Contact", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>
                    @Html.ActionLink(" ", "Index", "MyHome", new { area = "" }, new { @class = "navbar-brand d-none d-md-block" })
                    <li>@Html.ActionLink("من نحن", "About", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (Session["IsLoggedIn"] == "true")
                    {
                        <li>@Html.ActionLink("تسجيل خروج", "Index", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("صفحة المستخدم", "Profile", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("دخول/تسجيل حساب", "Login", "MyHome", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div id="footerImg">
            <img src="~/Content/images/Embroidery Hoop With Fabric And Sewing Needle With Inscription Fancywork Studio Modern Brand Logo.png" />
        </div>
        <p>&copy; @DateTime.Now.Year - Batool Khazali - MVC test</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
